/* common  */

.font-16{
    font-size: 1.6rem;
}
.font-18{
    font-size: 1.8rem;
}
.font-20{
    font-size: 2rem;
    line-height: 1.3;
}
.uppercase{
    text-transform: uppercase;
}
.color-blue{
    color: #36B0FF;
}

/* ============================ */

      /* coaches listing  */

/* ============================ */

ul.cl-explore-listing li {
    width: 17.3%;
    background: #0E0E0E;
    padding: 3rem;
    border-radius: 2rem;
}
ul.cl-explore-listing {
    gap: 5rem;
    margin-top: 7rem;
}
ul.cl-explore-listing li .img-box img {
    height: 100%;
    object-fit: contain;
}
ul.cl-explore-listing li .img-box {
    width: 8rem;
    height: 7rem;
    margin: auto;
    margin-bottom: 3rem;
}
.cl-categories-box h6 {
    color: #4CB8FE;
}
.cl-categories-box h2 {
    margin-bottom: 2rem;
}
.cl-categories-box h2+p {
    color: #808080;
}

ul.cl-categories-listing li {
    width: 28%;
    margin: 0 2rem;
}
ul.cl-categories-listing {
    margin: 0 -2rem;
    margin-top: 7rem;
}
.cl-categories-video-box video {
    object-fit: cover;
}
.cl-categories-video-box {
    height: 75rem;
}
.cl-categories-video-box .text-box h5 {
    color: #fff;
    font-size: 3rem;
    padding: 0 14rem;
}
.cl-categories-video-box .text-box {
    position: absolute;
    bottom: 5%;
    left: 0%;
    text-align: center;
    width: 100%;
}
.cl-categories-video-box .video__play-button {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 41.99%, #141414 110.41%);
}
.cl-categories-video-box .video__play-button-icon circle {
    fill: transparent;
    border: 1px solid #fff;
}
.cl-categories-video-box .video__play-button-icon {
    border: 1px solid #fff;
    border-radius: 100%;
}
.cl-categories-listing .slick-list{
    overflow: visible;
}
section.cl-categories-section{
    overflow: hidden;
}
ul.cl-categories-listing button.slick-arrow {
    position: absolute;
    top: -20%;
    right: 0%;
}
ul.cl-categories-listing button.slick-prev.slick-arrow {
    right: 6%;
}
.cl-categories-box {
    border-bottom: 1px solid #959595;
}
.cl-categories-box .btn-box {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: -3.3rem;
}
ul.rl-review-listing li {
    border-radius: 1rem;
    height: max-content;
    overflow: hidden;
    width: 48%;
    margin-bottom: 5rem;
    cursor: pointer;
}
ul.rl-review-listing li .text-box {
    padding: 2.5rem;
    border: 1px solid #d9d9d975;
    border-top: 0;
    border-radius: 0 0 1rem 1rem;
}
ul.rl-review-listing {
    border-bottom: 1px solid #d9d9d975;
}
ul.rl-review-listing .btn-box {
    margin: auto;
    margin-bottom: -3rem;
    margin-top: 3rem;
    padding: 0 4rem;
    background: #000;
}



/* ============================ */

      /* Review listing  */

/* ============================ */


.review-listing-banner .heading-box {
    text-align: center;
    margin-bottom: 30rem;
}
.rl-review-filter ul {
    background: #141414;
    padding: 4rem 3rem;
    border-radius: 1.5rem;
}
.rl-review-filter ul li {
    margin-top: 1.5rem;
    border-bottom: 1px solid #d9d9d978;
    padding-bottom: 1.5rem;
    cursor: pointer;
}
.rl-review-filter ul li span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}
.rl-review-filter ul li.active span img{
    display: block;
}
.rl-review-filter ul li span {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;
    border: 0.1rem solid #6D6D6D;
    border-radius: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}
.rl-review-filter h5 {
    margin-bottom: 2.5rem;
}
.rl-review-filter ul li p {
    display: flex;
    align-items: center;
}
.rl-review-listing-box .meeting-box {
    background: #36B0FF;
    padding: 4rem 3rem;
    border-radius: 2rem;
}
.rl-review-listing-box .meeting-box .founder-box {
    margin-top: 3rem;
    background: #349EE2;
    padding: 1.8rem 1.5rem;
    border-radius: 1rem;
    align-items: center;
}
.rl-review-listing-box .meeting-box .founder-box .img-box {
    width: 8.5rem;
    height: 8.5rem;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 0.4rem;
    margin-right: 1.5rem;
}
.rl-review-listing-box .meeting-box a.btn {
    background: #fff;
    color: #36B0FF;
    font-weight: 300;
    width: 100%;
    padding: 2.3rem 2rem;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 3rem;
}
ul.rl-review-listing li .text-box p.font-25 {
    line-height: 1.3;
    letter-spacing: -0.1rem;
}
ul.rl-review-listing li .text-box p.font-18.mt-5.uppercase {
    color: #8B8B8B;
}
ul.rd-browse-stories li {
    width: 31.2%;
    background: #141414;
}
ul.rd-browse-stories li:first-child h2 {
    margin-bottom: 3rem;
}

/* ============================ */

      /* Review Detail  */

/* ============================ */

.review-detail-banner{
    background: #000;
}
.review-detail-banner .heading-box img {
    width: 8rem;
    margin-top: 2rem;
}
.review-detail-banner .heading-box {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
}
.rd-review-head-box .img-box {
    border: 0.4rem solid #36B0FF;
    border-radius: 100%;
}
.rd-review-head-box .text-box h4 {
    margin-bottom: 1.2rem;
}
.rd-review-head-box .text-box h4+p {
    margin-bottom: 1.5rem;
}
.rd-review-head-box .text-box ul {
    border: 1px solid #ffffff8c;
    padding: 3rem 4rem;
    border-radius: 1rem;
    margin-top: 3rem;
}
.rd-review-head-box .text-box ul h6 {
    margin-bottom: 1.2rem;
    color: #B1B1B1;
}
.rd-review-head-box .text-box ul li:nth-child(2) {
    border-left: 1px solid #ffffff8c;
    border-right: 1px solid #ffffff8c;
    padding: 0 5rem;
}
.rd-review-head-box .text-box ul li img {
    width: 2.3rem;
    margin-right: 2rem;
}
.rd-review-head-box {
    margin-bottom: 5rem;
}
.rd-review-detial-box .right-box .rd-blue-box {
    margin-bottom: 5rem;
    background: #36B0FF;
    padding: 5rem 3.2rem;
    border-radius: 2rem;
}
.rd-review-detial-box .right-box {
    width: 31%;
}
.rd-review-detial-box h4 {
    font-size: 3.2rem;
    line-height: 1.2;
}
.rd-review-detial-box .right-box .rd-blue-box h6, .rd-review-detial-box .right-box .rd-blue-box h4 {
    margin-bottom: 1.5rem;
}
.rd-review-detial-box .right-box .rd-blue-box p {
    font-weight: 300;
}
.rd-review-detial-box .right-box .rd-form-box h4 {
    color: #000;
    font-weight: 500;
}
.rd-review-detial-box .right-box .rd-form-box {
    background: #fff;
    padding: 4.2rem 3.2rem;
    border-radius: 2rem;
}
.rd-review-detial-box .right-box .rd-form-box {
    background: #fff;
    padding: 4.2rem 3.2rem;
    border-radius: 2rem;
}
.rd-review-detial-box .right-box form input::placeholder, .rd-review-detial-box .right-box form textarea::placeholder {
    color: #000;
    font-family: "Poppins", sans-serif;
}
.rd-review-detial-box .right-box form {
    margin-top: 1rem;
}
.rd-review-detial-box .right-box form input, .rd-review-detial-box .right-box form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    padding: 1rem 0;
    height: 8rem;
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    outline: none;
}
.rd-review-detial-box .right-box form textarea{
    height: 13rem;
}
.rd-review-detial-box .right-box form button {
    border: none;
    font-family: "Poppins", sans-serif;
    background: #36B0FF;
    color: #fff;
    font-size: 1.9rem;
    width: 100%;
    padding: 2rem 0;
    border-radius: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    border:  1px solid #fff;
    transition: all 0.3s;
    
}
.rd-review-detial-box .right-box form button:hover{
    background-color: #fff;
    color: #36B0FF;
    border-color: #36B0FF;
    transition: all 0.3s;

}
.rd-review-detial-box .cl-categories-video-box {
    height: max-content;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.content-inner-box .underline {
    border-bottom: 1px solid #d9d9d982;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
}
.content-inner-box p {
    margin-bottom: 3rem;
}
.content-inner-box ul, .content-inner-box ol {
    padding-left: 2.5rem;
}
.content-inner-box li {
    margin: 1rem 0;
    list-style: disc;
}
.content-inner-box p, .content-inner-box li {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #B7B7B7;
}
.rd-review-detial-box .right-box .rd-form-box {
    height: max-content;
    position: sticky;
    top: 5%;
}
ul.rd-browse-stories-listing li {
    width: 32%;
}
ul.rd-browse-stories-listing{
    border-bottom: 0;
}
ul.rd-browse-stories-listing li .text-box h4+p {
    margin: 0.5rem 0;
}
ul.rd-browse-stories-listing li .text-box .color-blue.font-16{
    margin-bottom: 0.5rem;
}
ul.rd-browse-stories li a {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: auto;
    margin-top: 2rem;
    align-items: center;
    font-weight: 500;
}
ul.rd-browse-stories li a img {
    width: 1.8rem;
    margin-left: 1rem;
}
ul.rd-browse-stories li .img-box img{
    height: 11rem;
    width: 11rem;
    object-fit: contain;
}





@media (max-width: 800px) {


    .m-font-12{
        font-size: 1.2rem;
    }
    .m-font-13{
        font-size: 1.3rem;
    }
    .m-font-14{
        font-size: 1.4rem;
        letter-spacing: -0.02rem;
    }
    .m-font-15{
        font-size: 1.5rem;
    }
    .m-font-16{
        font-size: 1.6rem;
        line-height: 1.3;
    }
    .m-font-18{
        font-size: 1.8rem;
        letter-spacing: -0.05rem;
    }
    .m-font-20{
        font-size: 2rem;
    }
    .m-font-22{
        font-size: 2.2rem;
        letter-spacing: -0.05rem;
    }
    h2.m-font-25, .m-font-25  {
        font-size: 2.5rem;
        font-weight: 500;
    }
    a.btn.m-font-10, .m-font-10 {
        font-size: 1.1rem;
    }
    a.btn.fw-300, .fw-300{
        font-weight: 300;
    }




    /* coaches listing  */

    ul.cl-explore-listing{
        gap: 2rem;
        margin-top: 4rem;
    }
    ul.cl-explore-listing li {
        width: 45%;
        padding: 1.8rem;
    }
    ul.cl-explore-listing li .img-box {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1.5rem;
    }
    .cl-categories-box h2 {
        margin-bottom: 0.5rem;
    }
    ul.cl-categories-listing button.slick-arrow{
        display: none !important;
    }
    .cl-categories-video-box {
        height: 60rem;
    }
    ul.cl-categories-listing {
        margin: 0 -1rem;
        margin-top: 4rem;
    }
    ul.cl-categories-listing li{
        margin: 0 1rem;
    }
    .cl-categories-video-box .video__play-button {
        border-radius: 2rem;
    }
    .cl-categories-video-box .video__play-button-icon{
        width: 4rem;
    }
    .cl-categories-video-box .text-box h5 {
        padding: 0 5rem;
        font-size: 2rem;
    }
    .cl-categories-box .btn-box {
        text-align: center;
        margin-top: 3.5rem;
        margin-bottom: -2.3rem;
    }

    /* review listing mobile  */

    ul.rl-review-listing li{
        width: 100%;
    }
    .rl-review-filter ul {
        padding: 3rem;
        margin-bottom: 3rem;
    }
    ul.rl-review-listing li .text-box {
        padding: 2rem 1.8rem;
    }
    ul.rl-review-listing li {
        margin-bottom: 3rem;
    }
    ul.rl-review-listing li .text-box p.font-18.mt-5.uppercase {
        margin-top: 3rem;
    }
    ul.rl-review-listing li .text-box p, ul.rl-review-listing li .text-box h4 {
        margin-bottom: 0.5rem;
    }
    .rl-review-listing-box .meeting-box {
        padding: 2rem;
        border-radius: 1rem;
        margin-top: 7rem;
    }
    .rl-review-listing-box .meeting-box .founder-box {
        margin-top: 2rem;
        padding: 1.5rem;
    }
    .rl-review-listing-box .meeting-box .founder-box .img-box {
        width: 5rem;
        height: 5rem;
    }
    .rl-review-listing-box .meeting-box a.btn {
        font-size: 1.4rem;
        padding: 1.4rem;
        margin-top: 1.3rem;
    }
    ul.rl-review-listing .btn-box {
        padding: 0 2rem;
        margin-bottom: -2.3rem;
    }

    /* review detail mobile  */

    .rd-review-head-box .img-box {
        width: 30%;
        margin: auto;
        margin-bottom: 1rem;
    }
    .rd-review-head-box {
        text-align: center;
        margin-bottom: 3rem;
    }
    .rd-review-head-box .text-box h4 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .rd-review-head-box .text-box ul {
        margin-top: 1rem;
        padding: 2rem 1.5rem;
    }
    .rd-review-head-box .text-box ul li:nth-child(2) {
        padding: 0 1.2rem;
    }
    .rd-review-head-box .text-box ul li img {
        width: 1.2rem;
        margin-right: 1rem;
    }
    .rd-review-head-box .text-box ul h6 {
        margin-bottom: 0.7rem;
    }
    .rd-review-detial-box .cl-categories-video-box {
        margin: 2rem 0;
    }
    .content-inner-box p, .content-inner-box li {
        font-size: 1.4rem;
    }    
    .content-inner-box ul, .content-inner-box ol {
        padding-left: 2rem;
    }
    .content-inner-box li {
        margin: 0.5rem 0;
    }
    .content-inner-box p {
        margin-bottom: 1.5rem;
    }
    .content-inner-box .underline {
        border-bottom: 1px solid #d9d9d982;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
    }
    .rd-review-detial-box .right-box {
        width: 100%;
    }
    .rd-review-detial-box .right-box .rd-blue-box {
        margin-bottom: 2.5rem;
        padding: 2.5rem 2.2rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .rd-review-detial-box .right-box .rd-blue-box h6, .rd-review-detial-box .right-box .rd-blue-box h4 {
        margin-bottom: 1rem;
    }
    .rd-review-detial-box h4 {
        font-size: 2rem;
    }
    .rd-review-detial-box .right-box .rd-form-box {
        padding: 2.5rem 2.2rem;
        border-radius: 1rem;
    }
    .rd-review-detial-box .right-box form {
        margin-top: 0.5rem;
    }
    .rd-review-detial-box .right-box form input, .rd-review-detial-box .right-box form textarea {
        height: 6rem;
        margin-bottom: 0px;
        font-size: 1.4rem;
    }
    .rd-review-detial-box .right-box form textarea {
        height: 12rem;
    }
    .rd-review-detial-box .right-box form button {
        font-size: 1.4rem;
        padding: 1.4rem 0;
        font-weight: 400;
        margin-top: 2rem;
    }
    section.rd-browse-stories-section {
        padding: 0;
    }
    ul.rd-browse-stories-listing li .text-box .color-blue.font-16 {
        margin-top: 3rem;
    }
    ul.rd-browse-stories li {
        width: 46%;
    }
    ul.rd-browse-stories li .img-box img {
        height: 6.5rem;
        width: 6.5rem;
        margin-bottom: 2rem;
    }
    ul.rd-browse-stories li a {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    ul.rd-browse-stories li a img {
        width: 0.9rem;
        margin-left: 0.6rem;
    }    




}    